* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;


}

/*headerstyle*/
header {
    background-color: #1F2235;
    padding: 50px;

}
.brand img {
    width: 100px;
    

}
.horizontal{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-iteam{
    list-style: none;
    display: inline-block;
    margin: 0 16px;
}
.nav-iteam a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
section{
    height: ;
    border-bottom: 4px solid black;
}

/*main styling*/
#home{
    background-color: #24263B;
}

.home {
display: flex;
justify-content: space-between;
align-content: center;
padding: 70px;

}

#imagecontent img {
    width: 400px;
    height: 500px;
    display: flex;
}
#text {
    padding: 50px;
    color: #fff;
    text-align: justify;

}
#text h1 {
    padding: 30px;
    
}

/*service */
#service{
    background-color: #1F2235;
    
}

/* Style the card container */
.cards {
    display: flex;
    
    
}
#socialicons{
    color: #fff;
    font-size: 28px;
    padding: 4px;
    margin: 6px;

}
.socialicons:hover{
color: #FF4A57;
}

.card {
    width: 300px; /* Set the desired width for your card */
    border: 1px solid #1F2235;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 10px;
    background-color: #1f223c;
    border-radius: 8px;
    color: #fff;
    /* display: flex; */
    
}

/* Style the card image */
.card img {
    max-width: 100%;
    height: auto;
}

/* Style the card card-body */
.card-body {
    padding: 10px;
    margin: 30px;
}

.card-title {
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.card-text {
    font-size: 16px;
    margin: 10px 0;
}
.card:hover{
    color:white;
    background-color:#FF4A57 ;
    
}
#textcontent{
    color: #fff;
    text-align: center;
    padding: 20px;
    

}
.ser{
    font-size: large;
    color: #FF4A57;
    text-transform: uppercase;
    padding: 20px;

}
.my{
    font-weight: bolder;
    font-size: 70px;
    padding: 20px;
}
.par{
    padding: auto;
}
 /* styling the about section */
 #about{
    background-color: #23263A;
    color: #fff;
    
    
 }
.firsttext{
    text-align: center;
    padding: 20px;
}
.imatext{
    display: flex;
}

.secondtext{
    padding-top: 70px;
    margin: 30px;
}
.secondtext h1{
    font-weight: bolder;
    font-size: 30px;
    padding: 20px;
    text-size-adjust: 30px;
}
.p1{
    font-weight: bold;
    font-size: 10px;
    padding: 20px;
}


    
    
























